body {
  background-color: var(--dashboard-bg-color);
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 300px;
  margin-bottom: 80px;
}
.dashboard-title-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.dashboard-title-container h1 {
  font-family: var(--raleway-font-family);
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.dashboard-title-container p {
  font-family: var(--raleway-font-family);
  font-weight: 500;
  font-size: 13px;
  color: #cccccc;
}
.admin-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-right: 120px;
}
.admin-profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  text-align: center;
}

.admin-profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.admin-profile-info p {
  font-family: var(--raleway-font-family);
  font-weight: 500;
  font-size: 13px;
  color: #cccccc;
  text-align: center;
  padding-top: 15px;
}
.categories-create-button {
  background-color: var(--button-bg-color);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 4px 25px;
  font-family: var(--roboto-font-family);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

/* Main Content */
.main-content {
  padding-left: 280px;
  padding-right: 80px;
}

/* Table Styles */

.categories-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  width: 40%;
}

.categories-table thead tr {
  background-color: #1e1e1e;
}

.categories-table th {
  padding: 16px 20px;
  text-align: left;
  font-family: var(--raleway-font-family);
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.categories-table td {
  padding: 16px 20px;
  font-family: var(--roboto-font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  background-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.categories-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.categories-table tbody tr:last-child td {
  border-bottom: none;
}

.modal-content{
    background-color: #171616;
    padding: 80px 38px 43px 30px;
    border-radius: 20px;
}

.input{
    background-color: #0000001A;
    color: #ffffff;
    border-color: #323B54;
    border-radius: 10px;
    padding: 14px 16px;
    margin-bottom: 77px;

}

.input::placeholder{
    font-family: var(--poppins-font-family);
    font-weight: 400;
    font-size: 14px;
    color: #323B54;
}

#category-submit-btn{
    background-color: var(--button-bg-color);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 14px 16px;
    font-family: var(--roboto-font-family);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}