body {
  background-color: var(--dashboard-bg-color);
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 300px;
  margin-bottom: 80px;
}
.dashboard-title-container {
  display: flex;
  flex-direction: column;
}

.dashboard-title-container h1 {
  font-family: var(--raleway-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  color: #ffffff;
}
.dashboard-title-container p {
  font-family: var(--raleway-font-family);
  font-weight: 500;
  font-size: 13px;
  color: #cccccc;
}
.admin-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-right: 120px;
}

.admin-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.admin-profile p {
  font-family: var(--raleway-font-family);
  font-weight: 500;
  font-size: 13px;
  color: #cccccc;
}
.dashboard-content {
  padding-right: 0px;
  padding-left: 300px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.stats-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--raleway-font-family);
  width: 240px;
  height: 200px;
  background-color: var(--dashboard-item-bg-color);
  padding: 24px;
  border-radius: 25px;
}
.stats-cards p {
  font-weight: 500;
  font-size: 15px;
  color: #d7d7d7;
}

.stats-cards h2 {
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

.favoriteActionsItem {
  width: 280px;
}
.categoriesItem {
  width: 280px;
}

.stats-cards:hover {
  background-color: var(--dashboard-item-hover-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
